@charset "UTF-8";

/* ヘッダー */
.header-container { 
  width:100%;
  background-color: #fff;
  padding-top: 1.5vw;
  padding-left: 2vw;
  padding-right: 2vw;
  height:80px;
  display: flex ;
  justify-content: space-between;
  }
.navigation {
display: inline-flex;
gap:64px;
font-weight: var(--font-weight-bold);
}

/* メインビジュアル */
.section-top__container{
  background-image: url("../images/heroImage.png");
  height:60vh;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: space-between;
  display: flex;
  align-items: center;
  margin-bottom: 80px;
}
.section-top__disc h1 {
  display: block;
  padding-left: 5vw;
  font-weight: var(--font-weight-thin);
  font-size: 4.8rem;
  letter-spacing: 0.8rem;
}

/* あいさつ */
.section-greeting__desc h2 {
  padding-bottom: 40px;
}
.section-greeting {
  margin-bottom: 700px;
}


/* さとごやについて */
.section-about__container {
  max-width: 1088px;
  margin: 0 auto;
  display: flex;
  gap:20%;
  align-items: center;
  margin-bottom: 400px;
}
.section-about__desc {
  display: inline;
}
#section-about > div > div.section-about__image > img {
  vertical-align: bottom;
  border-radius: 5px;
}

/* サービス一覧 */
#section-services > div > div > div > div.section-services__image > img
{
  border-radius: 5px;
  vertical-align: bottom;
}
#section-services > div {
  background-color: #fff;
}
.section-services__container {
  max-width: 1088px;
  margin: 0 auto;
  margin-bottom: 120px;
}
.section-services__container h3 {
  display: block;
  position: relative;
  padding: 1.5rem;
  margin-bottom: 100px;
}
.section-services__container h3:before {
  position: absolute;
  bottom: -10px;
  left: calc(50% - 30px);
  width: 60px;
  height: 5px;
  content: '';
  padding: 1rem 2rem;
  border-bottom: 4px dotted var(--color-base);
}
.section-services__service {
  display: flex;
  padding-bottom: 96px;
}

.section-services__image {
  width:   50%;
  max-width: 554px;
}

.section-services__disc {
  max-width: 418px;
  margin: 0 auto;
}

.section-services__disc h4 {
  position: relative;
  padding: 1.5rem 1rem;
  margin-bottom: 24px;
}
.section-services__disc h4 ::after
{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10px;
  content: '';
  background-image: -webkit-repeating-linear-gradient(135deg, var(--color-base), var(--color-base) 1px, transparent 1px, transparent 5px);
  background-image: repeating-linear-gradient(-45deg, var(--color-base), var(--color-base) 1px, transparent 1px, transparent 5px);
  background-size: 7px 7px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.section-services__disc p {
  padding-bottom: 24px;
}
.section-services__examples{
  position: relative;
  padding: 1em 2em;
  text-align: left;
}
.section-services__examples::before,
.section-services__examples::after
{
  position: absolute;
  content: '';
}
.section-services__examples::after
{
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  border-top: 1px solid #000;
  border-left: 1px solid #000;
}
.section-services__examples::before
{
  right: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
}
.section-services__service:nth-of-type(even) {
  flex-direction: row-reverse;
}
/* ギャラリー */
.section-gallery__area {
  margin-bottom:250px;
}
.section-gallery__image img {
  vertical-align: bottom;
}

/* 料金表 */
.section-price-list__container {
  max-width: 1088px;
  margin: 0 auto;
}
.section-price-list__card {
background-color: #fff;
padding: 48px 24px 48px 24px;
}
.section-price-list__card span {
  font-size: 1rem;
}
.section-price-list__container {
  display: flex;
  height: 100%;
  align-items: stretch;
  margin-bottom: 384px;
  gap:10px;
}
.section-price-list h3 {
  position: relative;
  padding: 1.5rem;
  text-align: center;
  margin-bottom: 152px;
}
.section-price-list h3::before {
  position: absolute;
  bottom: -10px;
  left: calc(50% - 30px);
  width: 60px;
  height: 5px;
  content: '';
  border-bottom: 4px dotted var(--color-base);
}
.section-price-list__card {
  width: 100%;
  border-radius: 16px;
}
.section-price-list__card h4 {
  font-size: 20px;
  text-align: center;
  display: block;
  padding: 1rem 2rem;
  border-top: 2px solid var(--color-base);
  border-bottom: 2px solid var(--color-base);
  margin:  16px 0 48px 0;
}
.service-image img {
  max-width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
.regular{
  line-height: 60px;
  position: relative;
  height: 60px;
  margin: 2em 50px 1em;
  padding: 0 2rem;
  text-align: center;
  color: #fff;
  background: #3D9169;
}
.regular::before,
.regular::after
{
  position: absolute;
  top: 0;
  display: block;
  height: 48px;
  content: '';
  border: 30px solid #3D9169;
}
.regular::before
{
  left: -40px;
  border-left-width: 15px;
  border-left-color: transparent;
}
.regular::after
{
  right: -40px;
  border-right-width: 15px;
  border-right-color: transparent;
}
.regular span {
  position: relative;
  display: block;
}

.spot {
  padding-bottom: 8px;
}


/* お問い合わせ */
.section-contact {
  color: #fff;
}
.section-contact h3 {
  padding-top: 100px;
padding-bottom: 80px;
position: relative;
padding: 1.5rem;
margin-bottom: 56px;
}
.section-contact h3::before {
  position: absolute;
  bottom: -10px;
  left: calc(50% - 30px);
  width: 60px;
  height: 5px;
  content: '';
  border-bottom: 4px dotted var(--color-white);
}
.section-contact__disc {
padding-bottom: 40px;
}
button {
  font-family: var(--js-font-family);
  background-color:#E68234;
  color: #fff;
  font-size: var(--font-size-24);
  letter-spacing: 0.2rem;
  padding: 10px 30px;
  border-radius: 40px;
  width: 300px;
  height: 70px;
  box-sizing: border-box;
  border-style: none;
  text-align: center;
  margin: 10px 0;
  margin-bottom: 100px;
}
button:hover {
  opacity: 0.6;
}
.section-contact__container {
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/bg.png);
}

.section-footer__menu ul {
  justify-content: center;
  display: flex;
  gap: 40px;
}
.section-footer__menu {
  padding-top: 32px;
  padding-bottom: 54px;
}

.section-footer__container {
  background-image: url(../images/bg.png);
}

.right {
  display: block;
  text-align: center;
  padding-bottom: 8px;
  font-size: 1.2rem;
  opacity: 0.8;
}