@charset "UTF-8";

/* ヘッダー */
.logo img {
width: 120px;
position: absolute;
top: 20px;
}
.header-container { 
  width:100%;
  background-color: #fff;
  padding-top: 1.5vw;
  padding-left: 2vw;
  padding-right: 2vw;
  height:80px;
  display: flex ;
  justify-content: space-between;
  position: fixed;
  z-index: 120000;
  }
.navigation {
display: inline-flex;
gap:40px;
font-weight: var(--font-weight-bold);
}
.line {
  padding-bottom: 8px;
  background: 
      linear-gradient(rgb(230,130,52,0.6) 0 0) 
      bottom /var(--d, 0%) 3px
      no-repeat;
  transition:0.5s;
}
.line:hover {
  --d: 90%;
}

.header-container.scroll {
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 1;
}

/* メインビジュアル */
.section-top__container {
position: relative;
}

.hero-slide {
  margin-inline: auto;
  overflow: hidden;
  height: 54vw;
}
.section-top__container img {
  width: 100%;
  height: auto;
}
.section-top__disc {
position: absolute;
top:25%;
color: var(--color-white);
text-shadow: 1px 2px 20px #808080;
}
@keyframes zoomUp {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.15); /* 拡大率 */
  }
}
.add-animation {
  animation: zoomUp 10s linear 0s normal both;
}
.section-top__disc h1 {
  display: block;
  padding-left: 5vw;
  font-weight: var(--font-weight-thin);
  font-size: 4.8rem;
  letter-spacing: 0.8rem;
}

.rectangle img{
  vertical-align: bottom;
}

div.wrap-bg {
  height: 100%;
  min-height: 100%; /* 最小の高さ */
  background: var(--color-bg);
  height: auto;
}

/* あいさつ */
.section-greeting__desc h2 {
  margin-top: -120px;
  padding-bottom: 40px;
}
.section-greeting {
  margin-bottom: 250px;
}

.section-greeting__desc {
  position:relative;
  z-index: 10000;
}


/* さとごやについて */

.section-about__container {
  max-width: 1088px;
  margin: 0 auto;
  display: flex;
  gap:20%;
  align-items: center;
  margin-bottom: 400px;
}
.section-about__desc {
  display: inline;
}
.section-about__desc h2 {
  padding-bottom: 48px;
}
.section-about__desc span {
  font-size: var(--font-size-24);
  display: block;
  margin-bottom: 16px;
  border-bottom: 1px solid var(--color-base);
}

#section-about > div > div.section-about__image > img {
  vertical-align: bottom;
  border-radius: 5px;
}

/* サービス一覧 */
#section-services{
  margin-top: -80px; /* 固定ナビの高さ分のネガティブマージン */
padding-top: 80px;
}
#section-services > div > div > div > div.section-services__image > img
{
  border-radius: 5px;
  vertical-align: bottom;
}
.section-service__wrapper {
  background-image: url(/assets/images/service-bg.png);
  background-repeat: no-repeat;
  background-position: top;
}

.section-services__container {
  max-width: 1088px;
  margin: 0 auto;
  margin-bottom: 120px;
}
.section-services__container h3 {
  display: block;
  position: relative;
  padding-top: 6rem;
  padding-bottom: 1.5rem;
  margin-bottom: 100px;
}
.section-services__container h3:before {
  position: absolute;
  bottom: -10px;
  left: calc(50% - 30px);
  width: 60px;
  height: 5px;
  content: '';
  padding: 1rem 2rem;
  border-bottom: 4px dotted var(--color-base);
}
.section-services__service {
  display: flex;
  padding-bottom: 96px;
}

.section-services__image {
  width:   50%;
  max-width: 554px;
}

.section-services__disc {
  max-width: 418px;
  margin: 0 auto;
}

.section-services__disc h4 {
  position: relative;
  padding: 1.5rem 1rem;
  margin-bottom: 24px;
}
.section-services__disc h4 ::after
{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10px;
  content: '';
  background-image: -webkit-repeating-linear-gradient(135deg, var(--color-base), var(--color-base) 1px, transparent 1px, transparent 5px);
  background-image: repeating-linear-gradient(-45deg, var(--color-base), var(--color-base) 1px, transparent 1px, transparent 5px);
  background-size: 7px 7px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.section-services__disc p {
  padding-bottom: 48px;
}
.section-services__examples{
  position: relative;
  padding: 1em 2em;
  text-align: left;
}
.section-services__examples::before,
.section-services__examples::after
{
  position: absolute;
  content: '';
}
.section-services__examples::after
{
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  border-top: 1px solid var(--color-base);
  border-left: 1px solid var(--color-base);
}
.section-services__examples::before
{
  right: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
  border-right: 1px solid var(--color-base);
  border-bottom: 1px solid var(--color-base);
}
.section-services__service:nth-of-type(even) {
  flex-direction: row-reverse;
}
/* ギャラリー */
.section-gallery {
  background-color: var(--color-white);
  padding-top: 32px;
  padding-bottom: 32px;
  margin-bottom:250px;
  width: 100%;
}


.section-gallery__image img {
  vertical-align: bottom;
}

/* 料金表 */
#section-price {
  margin-top: -80px; /* 固定ナビの高さ分のネガティブマージン */
padding-top: 80px; /* 打ち消し用のパディング */
}
.section-price-list__container {
  max-width: 1088px;
  margin: 0 auto;
}
.section-price-list__card {
background-image: url(../images/card-bg.png);
padding: 48px 24px 48px 24px;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}
.section-price-list__card span {
  font-size: 1rem;
}
.section-price-list__container {
  display: flex;
  height: 100%;
  align-items: stretch;
  margin-bottom: 384px;
  gap:10px;
}
.section-price-list h3 {
  position: relative;
  padding: 1.5rem;
  text-align: center;
  margin-bottom: 100px;
}
.section-price-list h3::before {
  position: absolute;
  bottom: -10px;
  left: calc(50% - 30px);
  width: 60px;
  height: 5px;
  content: '';
  border-bottom: 4px dotted var(--color-base);
}
.section-price-list__card {
  width: 100%;
  border-radius: 16px;
}
.section-price-list__card h4 {
  font-size: 18px;
  text-align: center;
  display: block;
  padding: 1rem 2rem;
  border-top: 1px solid var(--color-base);
  border-bottom: 1px solid var(--color-base);
  margin:  16px 0 48px 0;
}
.service-image img {
  max-width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
}

/* リボン */
.ribbon {
  margin-top: 16px;
  display: inline-block;
  position: relative;
  height: 40px;/*高さ*/
  line-height: 40px;/*高さ*/
  text-align: center;
  padding: 0 40px 0 18px;/*文字の左右の余白*/
  font-size: 18px;/*文字サイズ*/
  background: var(--color-green);/*背景色*/
  color: #FFF;/*文字色*/
  box-sizing: border-box;
}
.ribbon:after {
  position: absolute;
  content: '';
  width: 0px;
  height: 0px;
  z-index: 1;
}
.ribbon:after {
  top: 0;
  right: 0;
  border-width: 20px 15px 20px 0px;
  border-color: transparent #F5F1EF transparent transparent;
  border-style: solid;
}
.spot {
  padding-bottom: 8px;
  background: var(--color-base);/*背景色*/
}
.section-price-list__card table {
margin-top: 16px;
width: 168px;
}
#section-price > div > div:nth-child(1) > table:nth-child(6) > tbody > tr:nth-child > td:nth-child {
  padding: 8px;
}
.regular-box {
  margin-bottom: 24px;
}
.spot-box {
  margin-bottom: 8px;
}
.etc-desc {
  font-weight: var(--font-weight-bold);
  margin-top: 32px;
  margin-bottom: 8px;
}

table tr td:nth-of-type(2){
  text-align:right;
  font-weight:var(--font-weight-bold);
}
table tr td:nth-of-type(2) span {
  font-weight:500;
}
.attention {
font-size: 1.2rem;
}


/* お客様からの声 */

#section-voice {
  margin-top: -80px; /* 固定ナビの高さ分のネガティブマージン */
  padding-top: 80px; /* 打ち消し用のパディング */
}

.section-voice__container h3{
  position: relative;
  padding: 1.5rem;
  margin-bottom: 56px;
}


.section-voice h3::before {
  position: absolute;
  bottom: -10px;
  left: calc(50% - 30px);
  width: 60px;
  height: 5px;
  content: '';
  border-bottom: 4px dotted var(--color-base);
}

/* お問い合わせ */
#section-contact {
  margin-top: -80px; /* 固定ナビの高さ分のネガティブマージン */
  padding-top: 80px; /* 打ち消し用のパディング */
  }
.section-voice__container {
  position: relative;
  margin-top: 100px;
}
.section-contact {
  color: #fff;
}
.section-contact__container h3 {
position: relative;
padding: 1.5rem;
margin-bottom: 56px;
}
.section-contact h3::before {
  position: absolute;
  bottom: -10px;
  left: calc(50% - 30px);
  width: 60px;
  height: 5px;
  content: '';
  border-bottom: 4px dotted var(--color-white);
}
.section-contact__disc {
padding-bottom: 40px;
}
button {
  font-family: var(--js-font-family);
  background-color:var(--color-orange);
  color: var(--color-white);
  font-size: var(--font-size-24);
  letter-spacing: 0.2rem;
  padding: 10px 30px;
  border-radius: 40px;
  width: 300px;
  height: 70px;
  box-sizing: border-box;
  border-style: none;
  text-align: center;
  margin: 10px 0;
  margin-bottom: 100px;
}
button:hover {
  opacity: 0.6;
}
.section-contact__container {
  background-image: url(../images/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding-top: 100px;
}

.section-footer__container {
  background-image: url(../images/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* フッター */
.section-footer {
  position:relative;
  z-index: 10000;
  background-color: var(--color-white);
}
.section-footer__menu ul {
  justify-content: center;
  display: flex;
  gap: 40px;
}
.section-footer__menu {
  padding-top: 24px;
  padding-bottom: 100px;
}

.right {
  display: block;
  text-align: center;
  padding-bottom: 8px;
  font-size: 1.2rem;
  opacity: 0.8;
}


TODO:パララックスエフェクトかける
TODO：ボタンの透過をやめ、アクションを付ける
TODO:https://codepen.io/natszafraniec/pen/eYMPEaM