@charset "UTF-8";

/* ヘッダー */
.logo img {
width: 120px;
position: absolute;
top: 20px;
}
.header__hamburger {
  display: none;
}
.header-container {
  width:100%;
  background-color: #fff;
  padding-top: 1.5vw;
  padding-left: 2vw;
  padding-right: 2vw;
  height:80px;
  display: flex ;
  justify-content: space-between;
  position: fixed;
  z-index: 1200;
  top:0;
  left:0;
  }
.navigation {
display: inline-flex;
gap:48px;
font-size: 1.5rem;
font-weight: 500;
}
.nav-items__item {
  padding-bottom: 8px;
  background:
      linear-gradient(rgb(230,130,52,0.6) 0 0) 
      bottom /var(--d, 0%) 3px
      no-repeat;
  transition:0.5s;
}
.nav-items__item:hover {
  --d: 90%;
}
.header-container.scroll {
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 1;
}

@media(max-width:1400px) {
.logo img {
  width: 66px;
}
 /* ヘッダーのナビ部分 */
.header__nav {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  transform: translateX(100vw);
  background-color: var(--color-white); /*ハンバーガーメニュークリック時のナビゲーションメニュー背景色*/
  transition: ease .4s; /*ハンバーガーメニュークリック時のナビゲーションメニュー出現を遅延*/
}
/* ハンバーガーメニュー */
.header__hamburger {
  display: inline-block;
  width: 48px;
  height: 100%;
}
.hamburger {
  background-color: transparent; /*buttonタグデフォルトスタイルを打ち消し*/
  border-color: transparent; /*buttonタグデフォルトスタイルを打ち消し*/
  z-index: 9999;
}
.hamburger span {
  width: 100%;
  height: 1px;
  background-color: #000;
  position: relative;
  transition: ease .4s; /*ハンバーガーメニュークリック時の三本線の動きを遅延*/
  display: block;
}
.hamburger span:nth-child(1) {
  top: 0;
}
.hamburger span:nth-child(2) {
  margin: 8px 0;
}
.hamburger span:nth-child(3) {
  top: 0;
}
/* ハンバーガーメニュークリック後のスタイル */
.header__nav.active {
  transform: translateX(0);
}
.hamburger.active span:nth-child(1) {
  top: 5px;
  transform: rotate(45deg);
}
.hamburger.active span:nth-child(2) {
  opacity: 0;
}
.hamburger.active span:nth-child(3) {
  top: -13px;
  transform: rotate(-45deg);
}
.nav-items__item:last-child a {
  margin-bottom: 0;
}
.nav-items {
  padding-top: 250px;
  padding-bottom: 200px;
  }
  .nav-items__item a {
    z-index: 10000;
    color: black;
    width: 100%;
    text-align: center;
    font-size: 20px;
    margin-bottom: 24px;
  }
  .navigation {
    flex-direction: column;
    width: 100%;
  }
}



/* メインビジュアル */
.section-top__container {
position: relative;
}
.hero-slide {
  margin-inline: auto;
  overflow: hidden;
  width: 100%;
  height: auto;
  display: none;
}
.hero-slide.slick-initialized{
  display: block;
}
.section-top__container img {
  width: 100vw;
  height: 80vh;
  object-fit: cover;
}
@keyframes zoomUp {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.15); /* 拡大率 */
  }
}
.add-animation {
  animation: zoomUp 10s linear 0s normal both;
}
.section-top__disc h1 {
  display: flex;
  position: absolute;
  top:25%;
  color: var(--color-white);
  text-shadow: 1px 2px 20px #808080;
  display: block;
  padding-left: 5vw;
  font-weight: var(--font-weight-thin);
  font-size: var(--font-size-48);
  letter-spacing: 0.8rem;
}
@media (max-width:1400px) {
  .section-top__disc h1 {
    font-size: var(--font-size-32);
  }
  .section-top{
    padding-left: 0vw;
  }
}


.rectangle img{
  vertical-align: bottom;
}
div.wrap-bg {
  height: 100%;
  min-height: 100%; /* 最小の高さ */
  background: var(--color-bg);
  height: auto;
  position: relative;
  z-index: -50;
}



/* あいさつ */
.section-greeting {
  margin-bottom: 200px;
  }
.section-greeting__desc h2 {
  margin-top: 80px;
  padding-bottom: 40px;
}
.section-greeting__desc {
  position:relative;
  z-index: 1000;
}
.section-greeting__container {
display: flex;
flex-direction: row;
padding-left: 5vw;
z-index: 100;
}
/* 装飾 */
.link {
	width: 64rem;
	height: 10rem;
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: 0.1175em;
	word-spacing: 0.3em;
	text-decoration: none;
  z-index: 100;
}
.link__svg {
  margin-top: 140px;
		width: 80%;
		height: auto;
		transform-box: fill-box;
		fill: #2B3338;
		stroke: #2B3338;
		stroke-width: 0.05em;
		stroke-linecap: round;
		stroke-linejoin: round;
	}
.link__cloud	 {
		transform-origin: 50% 50%;
		animation: rotate normal infinite 3 * 20s linear;
		fill: rgba(255, 255, 255, 0.15);
	}
		.link:hover & {
			transform: scale(1.1);
			transition: transform 0.3s cubic-bezier(0.33, 1, 0.68, 1);;
		}
    .link__text {
		animation: rotateReverse normal infinite 20s linear;
		transform-origin: 50% 50%;}
		.link:hover & {
			animation-play-state: paused;
		}
    .link--alt {
      font-size: 1.6rem;
      letter-spacing: 1.5rem;
      word-spacing: 0;}
@keyframes rotate {
	to {
		transform: rotate(360deg);
	}
}
@keyframes rotateReverse {
	to {
		transform: rotate(-360deg);
	}
}
@media (max-width:1400px) {
  .section-greeting__container {
    flex-direction: column;
  }
  .link__svg {
    margin-top: 0px;
    width: 50%;
  }
.link--alt {
  width: 100%;
  text-align: right;
}
  .section-greeting__desc h2 {
    margin-top: 32px;
    padding-bottom: 8px;
    font-size: 20px;
  }
  .section-greeting__container {
    padding-left: 0px;
  }
  .sp-none {
    display: none;
  }
  .section-greeting{
    margin-bottom:56px
  }
}


/* さとごやについて */
.section-about__container {
  max-width: 1088px;
  margin: 0 auto;
  display: flex;
  gap:20%;
  align-items: center;
  margin-bottom: 300px;
}
.section-about__desc {
  display: inline;
}
.section-about__desc h2 {
  padding-bottom: 48px;
}
.section-about__desc span {
  font-size: var(--font-size-24);
  display: block;
  margin-bottom: 16px;
  border-bottom: 1px solid var(--color-base);
}
#section-about > div > div.section-about__image > img {
  vertical-align: bottom;
  border-radius: 5px;
}
/* 写真の飾り */
.section-about__image {
  position: relative;
}
.section-about__image::before {
  content: "";
  position: absolute;
  bottom: -64px;
  right: -64px;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(#999 30%, rgba(0, 0, 0, 0) 31%), radial-gradient(#999 30%, rgba(0, 0, 0, 0) 31%);
  background-size: 6px 6px;
  background-position: 0 0, 3px 3px;
  z-index: -1;
}
@media (max-width:1400px) {
  .section-about__container {
    flex-direction:column;
    width: 100vw;

  }
  .section-about__image,
  .section-about__image img
   {
    width: 80vw;
  }
  .section-about__image {
    margin-right: auto;
  }
  .section-about__image::before {
    content: "";
    position: absolute;
    bottom: -20px;
    right: -20px;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(#999 30%, rgba(0, 0, 0, 0) 31%), radial-gradient(#999 30%, rgba(0, 0, 0, 0) 31%);
    background-size: 6px 6px;
    background-position: 0 0, 3px 3px;
    z-index: -1;
  }
  .section-about {
    margin-bottom: 80px;
  }
  .section-about__container {
    padding-bottom: 32px;
    width: 100%;
  }
  .section-about__desc p {
    padding-bottom: 32px;
  }
  .section-about__container {
    margin-bottom: 80px;
  }

}




/* サービス一覧 */
#section-services{
margin-top: -80px; /* 固定ナビの高さ分のネガティブマージン */
padding-top: 80px;
}
#section-services > div > div > div > div.section-services__image > img
{
  border-radius: 5px;
  vertical-align: bottom;
}
.section-services__desc {
  padding: 0 0 104px 0;
  text-align: center;
}
.section-service__wrapper {
  background-image: url("../images/service-bg.png");
  background-repeat: no-repeat;
  background-position: top;
}
.section-services__container {
  max-width: 1088px;
  margin: 0 auto;
  margin-bottom: 120px;
}
.section-services__container h3 {
  display: block;
  position: relative;
  padding-top: 6rem;
  padding-bottom: 15px;
  margin-bottom: 56px;
}
.section-services__container h3:before {
  position: absolute;
  bottom: -10px;
  left: calc(50% - 30px);
  width: 60px;
  height: 5px;
  content: '';
  padding: 1rem 2rem;
  border-bottom: 4px dotted var(--color-base);
}
.section-services__service {
  display: flex;
  padding-bottom: 104px;
}
.section-services__image {
  width:   100%;
  max-width: 554px;
}
.section-service__img-wrapper img{
  vertical-align: bottom;
  width: 100%;
}
.section-services__disc {
  max-width: 418px;
  margin: 0 auto;
}
.section-services__disc h4 {
  position: relative;
  padding: 1.5rem 1rem;
  margin-bottom: 24px;
}
.section-services__disc h4 ::after
{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10px;
  content: '';
  background-image: -webkit-repeating-linear-gradient(135deg, var(--color-base), var(--color-base) 1px, transparent 1px, transparent 5px);
  background-image: repeating-linear-gradient(-45deg, var(--color-base), var(--color-base) 1px, transparent 1px, transparent 5px);
  background-size: 7px 7px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.section-services__disc p {
  padding-bottom: 48px;
}
.section-services__examples{
  position: relative;
  padding: 1em 2em;
  text-align: left;
}
.section-services__examples::before,
.section-services__examples::after
{
  position: absolute;
  content: '';
}
.section-services__examples::after
{
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  border-top: 1px solid var(--color-base);
  border-left: 1px solid var(--color-base);
}
.section-services__examples::before
{
  right: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
  border-right: 1px solid var(--color-base);
  border-bottom: 1px solid var(--color-base);
}
.section-services__service:nth-of-type(even) {
  flex-direction: row-reverse;
}
/* サービス写真の加工 */
.section-service__img-wrapper {
  position: relative;
}
.section-services__image::before,
.section-services__image::after
 {
  content: "";
  position: absolute;
  transform: rotate(-45deg);
  width: 134px;
  height: 55px;
  background-color: #fff;
  z-index: 1;
}
.section-services__image::before {
  top: -12px;
  left: -50px;
  border-bottom: 1px solid #aaa;
}
.section-services__image::after {
  bottom: -12px;
  right: -50px;
  border-top: 1px solid #aaa;
}
@media (max-width:1400px) {
  .section-services__service {
flex-direction: column;
  }
  .section-service__img-wrapper img {
    width: 100%;
  }
  .section-services__image {
    margin: 0 auto;
  }
  .section-services__image::before,
.section-services__image::after {
  display: none;
}
.section-services {
  background-color: #FFF;
}
.section-service__wrapper {
  background-image: none;
}
.section-services__desc {
padding-bottom: 56px;
}
.section-services__service:nth-of-type(even) {
  flex-direction:column;
}
 }


/* ギャラリー */
.section-gallery {
  background-color: var(--color-white);
  padding-top: 32px;
  padding-bottom: 32px;
  margin-bottom:180px;
  width: 100%;
  position: relative;
  z-index: 1200;
}

.section-gallery__image img {
  vertical-align: bottom;
}

@media (max-width:1400px){
  .bg-font {
    display: none;
  }
.section-gallery_bg {
  display: none;
}
.section-gallery {
  margin-bottom:80px;
}
}


/* 料金表 */
#section-price {
  margin-top: -80px; /* 固定ナビの高さ分のネガティブマージン */
padding-top: 80px; /* 打ち消し用のパディング */
}
.section-price-list__container {
  max-width: 1088px;
  margin: 0 auto;
  display: flex;
  height: 100%;
  align-items: stretch;
  justify-content: center;
  margin-bottom: 180px;
  gap:10px;
}
.section-price-list__card {
background-image: url(../images/card-bg.png);
padding: 48px 24px 64px 24px;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}
.section-price-list__card span {
  font-size: var(--font-size-10);
}
.section-price-list h3 {
  position: relative;
  padding: 1.5rem;
  text-align: center;
  margin-bottom: 100px;
}
.section-price-list h3::before {
  position: absolute;
  bottom: -10px;
  left: calc(50% - 30px);
  width: 60px;
  height: 5px;
  content: '';
  border-bottom: 4px dotted var(--color-base);
}
.section-price-list__card {
  width: 100%;
  border-radius: 16px;
}
.section-price-list__card h4 {
  font-size: var(--font-size-18);
  text-align: center;
  display: block;
  padding: 1rem 2rem;
  border-top: 1px solid var(--color-base);
  border-bottom: 1px solid var(--color-base);
  margin:  16px 0 48px 0;
}
.service-image img {
  max-width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
  width: 65%;
  margin: 0 auto;
  padding-bottom: 48px;
}
/* リボン */
.ribbon {
  display: inline-block;
  position: relative;
  height: 40px;/*高さ*/
  line-height: 40px;/*高さ*/
  text-align: center;
  padding: 0 40px 0 18px;/*文字の左右の余白*/
  font-size: var(--font-size-18);/*文字サイズ*/
  background: var(--color-green);/*背景色*/
  color: #FFF;/*文字色*/
  box-sizing: border-box;
}
.ribbon:after {
  position: absolute;
  content: '';
  width: 0px;
  height: 0px;
  z-index: 1;
}
.ribbon:after {
  top: 0;
  right: 0;
  border-width: 20px 15px 20px 0px;
  border-color: transparent #F5F1EF transparent transparent;
  border-style: solid;
}
.spot {
  padding-bottom: 8px;
  background: var(--color-base);/*背景色*/
}
.section-price-list__card table {
margin-top: 16px;
width: 168px;
}
#section-price > div > div:nth-child(1) > table:nth-child(6) > tbody > tr:nth-child > td:nth-child {
  padding: 8px;
}
.regular-box {
  margin-bottom: 24px;
}
.spot-box {
  margin-bottom: 8px;
}
.etc-desc {
  font-weight: var(--font-weight-bold);
  margin-top: 32px;
  margin-bottom: 8px;
}

table tr td:nth-of-type(2){
  text-align:right;
  font-weight:var(--font-weight-bold);
}
table tr td:nth-of-type(2) span {
  font-weight:500;
}
.attention {
font-size: var(--font-size-12);
}

@media (max-width:1400px){
.slick-prev,.slick-next{
  width: 40px;
  height: 40px;
}
.service-image img {
  height: 20vh;
  width: auto;
}
.section-price-list__card{
  padding-top: 32px;
  padding-bottom: 32px;
}
.section-price-list__card h4{
  margin-bottom: 32px; 
}
  .slick-next{ 
    right:0!important; }
  .slick-prev{ left:0!important; }
  .slick-arrow{ z-index:2!important; }
  .slick-prev:before, .slick-next:before {
    color: var(--color-base);
    opacity: 0.6;/*デフォルトは.75が指定されている*/
    font-size: 32px;/*少し大きくする*/
}
.section-price-list__card {
  height: 767px;
}
.service-image img {
  padding-bottom: 32px;
}
.section-price-list__card table {
  margin-top: 8px;
  margin: 0 auto;
}
.section-price-list__card {
  padding-left:40px;
  padding-right:40px;
}
.section-price-list h3{
margin-bottom: 56px;
}
.regular {
  text-align: center;
}
.regular-box,
.spot-box {
  text-align: center;
}


}

/* お客様からの声 */
#section-voice {
  margin-top: -80px; /* 固定ナビの高さ分のネガティブマージン */
  padding-top: 80px; /* 打ち消し用のパディング */
}
.section-voice__container {
max-width: 1088px;
margin: 0 auto;
}
.section-voice__container h3 {
  position: relative;
  padding: 1.5rem;
  margin-bottom: 56px;
}
.section-voice h3::before {
  position: absolute;
  bottom: -10px;
  left: calc(50% - 30px);
  width: 60px;
  height: 5px;
  content: '';
  border-bottom: 4px dotted var(--color-base);
}
.section-voice__wrapper {
  display: flex;
  justify-content: space-evenly;
}
.section-voice__img-area {
display: flex;
flex-direction: column;
text-align: center;
align-items: center;
}
.section-voice__img-area span {
  text-align: center;
  font-size: var(--font-size-10);
}
.section-voice__comment {
  top:0;
  position: relative;
  display: inline-block;
  padding: 32px 64px;
  min-width: 120px;
  max-width: 100%;
  color: #555;
  font-size: 16px;
  background: var(--color-white);
  border-radius: 10px;
  margin-bottom: 100px;
}
.section-voice__comment ::before {
  content: "";
  position: absolute;
  top: 20%;
  left: -30px;
  margin-top: -15px;
  border: 15px solid transparent;
  border-right: 15px solid var(--color-white);
}
@media (max-width:1400px) {
.section-voice__wrapper {
  flex-direction: column;
  gap:32px;
}
.section-voice__comment {
  padding: 24px 24px;
}
.section-voice__comment ::before {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  left: 50vw;
  top: -12px;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #FFF;
  border-left: 15px solid transparent;
}
}


/* お問い合わせ */
#section-contact {
  margin-top: -80px; /* 固定ナビの高さ分のネガティブマージン */
  padding-top: 80px; /* 打ち消し用のパディング */
  }

.section-contact {
  color: #fff;
}
.section-contact__container {
  background-image: url(../images/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding-top: 100px;
}

.section-contact__container h3 {
position: relative;
padding: 1.5rem;
margin-bottom: 56px;
}
.section-contact h3::before {
  position: absolute;
  bottom: -10px;
  left: calc(50% - 30px);
  width: 60px;
  height: 5px;
  content: '';
  border-bottom: 4px dotted var(--color-white);
}
.section-contact__disc {
padding-bottom: 40px;
}
.btn {
  font-family: var(--js-font-family);
  background-color:var(--color-orange);
  color: var(--color-white);
  font-size: var(--font-size-24);
  letter-spacing: 0.2rem;
  padding: 10px 30px;
  border-radius: 40px;
  width: 300px;
  height: 70px;
  box-sizing: border-box;
  border-style: none;
  text-align: center;
  margin: 10px 0;
  margin-bottom: 100px;
  border-bottom: 5px solid #b84c00;
}

.btn:active {
  color: #fff;
  background: #f56500;
  border-bottom: 2px solid #b84c00;
}
.btn-shadow {
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
  box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
}


.section-footer__container {
  background-image: url(../images/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* フッター */
.section-footer {
  position:relative;
  z-index: 10000;
  background-color: var(--color-white);
}
.section-footer__menu ul {
  justify-content: center;
  display: flex;
  gap: 40px;
  opacity: 0.9;
}
.section-footer__menu {
  padding-top: 24px;
  padding-bottom: 100px;
}
.right {
  display: block;
  text-align: center;
  padding-bottom: 8px;
  font-size: var(--font-size-12);
  opacity: 0.8;
}
@media (max-width:1400px) {
  .section-footer__menu ul {
    flex-direction: column;
    gap: 0px;
    align-items: center;
  }
  .section-footer__menu {
    padding-bottom: 32px;
  }
}

.bg-font {
  text-align: right;
  font-size: 240px;
  opacity: 0.5;
  width: 100%;
}

.section-gallery_bg {
  height: 200px;
}

#section-price-list__slider {
  position: relative;
  width: 100%;
}
#section-price-list__slider .section-services__service {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.section-services__service > .slick-list,
.section-services__service > .slick-list > .slick-track,
.section-services__service > .slick-list > .slick-track > .slick-slide > div {
  position: relative;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

/* TODO: SEO対策 */
/* 読み込み中画面の実装 */